@import url('https://pro.fontawesome.com/relases/v6.0.0-beta1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swapp');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --black-color: #000000;
}

body{
    /* background-image: url('https://d100mj7v0l85u5.cloudfront.net/s3fs-public/2023-07/almacenamiento-seguro-de-medicamentos-controlados.jpg'); */
    background-image: url(../img/login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: var(--second-color);
}

a:hover {
    text-decoration: underline;
}

.wrapper{
    width: 100%;
    background-color: #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login_box{
    position: relative;
    width: 450px;
    color: var(--second-color);
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5rem 2.5rem 4rem 2.5rem;
    box-shadow: 0px 0px 10px 2px #00000033;
}

.login-header{
    width: 230px;
    height: 70px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 30px;
}

.sesion{
    width: 100%;
    background-color: #0000007f;
}

.sesion p1{
    font-size: 19px;
    color: red;
}
.login-header span{
    font-size: 30px;
    color: var(--black-color);
}

.login-header::before{
    width: 30px;
    height: 30px;
    content: "";
    box-shadow: 15px 0 0 0 var(--primary-color);
    position: absolute;
    top: 0;
    left: -30px;
    border-top-right-radius: 50%;
    background: transparent;
}
/*revisar*/
.login-header::after{
    content: "";
    width: 30px;
    height: 30px;
    box-shadow: -15px 0 0 0 var(--primary-color);
    position: absolute;
    top: 0;
    right: -30px;
    border-top-left-radius: 50%;
    background: transparent;
}

.input_box{
    position: relative;
    display:  flex;
    flex-direction:  column;
    margin: 20px 0;
}

.input-field{
    width: 100%;
    height: 55px;
    background: transparent;
    color: var(--second-color);
    font-size: 16px;
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
    appearance: none; /* Esto es para quitar el estilo predeterminado del select en algunos navegadores */
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    z-index: 1;
}

.input-field::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: -1;
}

.input-field option {
    background: rgba(255, 255, 255, 0);; /* Fondo transparente */
    color: black; /* Letras negras */
}

.input-field:focus option {
    background: rgba(255, 255, 255, 0); /* Fondo transparente cuando se selecciona */
    color: black; /* Color del texto cuando se selecciona */
}

#nombre_usuario{
    margin-bottom: 10px;
}

.label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: 0.2s;
    z-index: 2;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label{
    background-color: var(--primary-color);
    color: var(--black-color);
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    border-radius: 30px;
    padding: 0 10px;
}


.input-submit{ 
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.registrar{
    text-align: center;
}

.registrar a{
    font-weight: 500;
}

.inventario{
    background-image: url(../img/inventario.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecera{
    padding: 10px;
    backdrop-filter: blur(100px);
    border-block-end: 2px solid var(--primary-color);
}

.inventario_cuerpo{
    background-color: #00000033;
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 12%;
}

.agg_inventario_box{
    position: relative;
    width: 350px;
    color: var(--second-color);
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 5rem 2.5rem 1.5rem 2.5rem;
    box-shadow: 0px 0px 10px 2px #00000033;
}

.agg_inventario_box{
    position: relative;
    width: 450px;
    color: var(--second-color);
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 5rem 2.5rem 1.5rem 2.5rem;
    box-shadow: 0px 0px 10px 2px #00000033;
}

.espacio{
    width: 20px;
}

.medicinas_box{
    position: relative;
    width: 1000px;
    color: var(--second-color);
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 6.5rem 2.5rem 2.5rem 2.5rem;
    box-shadow: 0px 0px 10px 2px #00000033;
    /* background-color: rgba(0, 0, 0, 0.7); */
}

.titulo{
    background-color: #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.titulo h1{
    display: flex;
    justify-content: center;
    /* color: var(--second-color); */
    align-items: center;
    backdrop-filter: blur(35px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    width: 500px;
}

/*TABLA*/
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    min-width: 400px;
}

table tbody{
    background-color: rgba(0, 0, 0, 0.500);
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--primary-color);
}

table th {
    background-color: var(--primary-color);
    color: var(--black-color);
    font-weight: bold;
}

table tr {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente para las filas */
    transition: background-color 0.3s;
}

table tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cambio de fondo al pasar el ratón */
}

table a {
    color: var(--primary-color);
    font-weight: bold;
}

table a:hover {
    text-decoration: underline;
}